<html>
    <head>
        <title>
            Django Girls blog Andea
        </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p> published: 01.06.2024, 14:16</p>
            <h2><a href="">My first post</a></h2>
            <p>
                Esta es una primer prueba de que se puede crear un blog :D
            </p>
        </div>
        <div>
            <p> published: 01.06.2024, 14:36</p>
            <h2><a href="">My second post</a></h2>
            <p>
                Esta es una primer prueba de que se puede crear un blog :D
            </p>
        </div>
    </body>
</html>